* {
  outline: none;
  box-sizing: border-box;
  margin: 0;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "HandoTrial-Bold";
  src: url(fonts/HandoTrial-Bold.otf);
}
@font-face {
  font-family: "HandoTrial-Black";
  src: url(fonts/HandoTrial-Black.otf);
}
@font-face {
  font-family: "HKGrotesk-Bold";
  src: url(fonts/HKGrotesk-Bold.otf);
}
body {
  background-color: white;
  display: flex;
  font-family: "HandoTrial-Black";
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0em 0em;
  font-weight: 400;
  height: 100vh;
  color: white;
}
@media screen and (max-width: 768px) {
  body {
    padding: 0;
  }
}

.blog {
  background-color: black;
  display: grid;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: 25% 55% 20%;
  grid-template-rows: 100%;
  width: 100%;
  padding: 40px 4px;
  position: relative;
}
@media screen and (max-width: 1030px) {
  .blog {
    grid-template-columns: 25% 55% 20%;
  }
}
@media screen and (max-width: 768px) {
  .blog {
    grid-template-columns: 45% 55%;
    max-width: none;
  }
}
@media screen and (max-width: 560px) {
  .blog {
    grid-template-columns: 100%;
    max-width: none;
  }
}
.blog-part {
  padding: 0 20px;
}
.blog-part:not(:last-child) {
  border-right: 1px solid white;
}
.blog-menu {
  font-size: 22px;
  text-decoration: none;
  color: white;
  display: flex;
  letter-spacing: -0.5px;
  align-items: center;
}
@media screen and (max-width: 1260px) {
  .blog-menu {
    font-size: 1.6vw;
  }
}
.blog-menu svg {
  width: 22px;
  margin-left: 4px;
}
.blog-menu + .blog-menu {
  margin-top: 24px;
}
.blog-menu.mention {
  margin-top: auto;
  font-size: 19px;
}
@media screen and (max-width: 1260px) {
  .blog-menu.mention {
    font-size: 1.4vw;
  }
}
.blog-menu.subscribe {
  margin-top: 8px;
  font-size: 19px;
  position: relative;
}
@media screen and (max-width: 1260px) {
  .blog-menu.subscribe {
    font-size: 1.4vw;
  }
}
.blog-menu.subscribe:before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: black;
  left: 0;
  border-radius: 1px;
  margin-right: 14px;
}
.blog .is-menu {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1030px) {
  .blog .is-menu {
    display: none;
  }
}
.blog-big__title {
  font-size: 9vw;
  font-family: "HandoTrial-Black";
  font-weight: 700;
  letter-spacing: -5px;
  line-height: 1;
  margin-bottom: 6px;
}
@media screen and (max-width: 1400px) {
  .blog-big__title {
    font-size: 9vw;
  }
}
@media screen and (max-width: 1260px) {
  .blog-big__title {
    font-size: 9vw;
    letter-spacing: -1px;
  }
}
@media screen and (max-width: 560px) {
  .blog-big__title {
    font-size: 3vw;
    margin-bottom: 12px;
  }
}
.blog-header {
  display: flex;
  flex-direction: column;
}
.blog-article {
  padding: 0 20px;
}
.blog-article img {
  height: 260px;
  max-height: 30vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(1);
}

.page-number {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  font-size: 72px;
  text-align: center;
  letter-spacing: -3px;
  font-weight: lighter;
  font-family: "HandoTrial-Black";
  border-right: 1px solid white;
  white-space: nowrap;
}
@media screen and (max-width: 1260px) {
  .page-number {
    font-size: 5vw;
  }
}

.small-title {
  border-bottom: 1px solid white;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 560px) {
  .small-title {
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 24px;
    border-bottom: 0;
  }
}

.videomain {
  top: 0;
  bottom: 0;
  width: 100;
  overflow: hidden;
}

.video {
  min-width: 100%;
  width: 528;
  height: 297;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
}

.date {
  display: flex;
  justify-content: flex-end;
}

.blog-article h2 {
  font-size: 5.9vw;
  font-weight: 500;
  line-height: 1.2;
  margin: 8px 0 8px;
}
.blog-article h2 span {
  font-family: "HandoTrial-Black";
}
.blog-article p {
  font-size: 13px;
  line-height: 1.5;
  margin: 14px 0;
  font-family: "HKGrotesk-Bold";
}
.blog-article a {
  color: white;
  text-decoration: none;
  font-size: 26px;
  letter-spacing: -1px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;
  border-top: 1px solid white;
  padding-top: 14px;
  z-index: 1;
}
.blog-article a svg {
  width: 26px;
  margin-right: 10px;
}

.dividervid {
  margin-bottom: 10vw;
}

.blog-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3vw;
}
.blog-detail span {
  font-family: "HandoTrial-Bold";
}

.blog-header-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  border-right: 1px solid white;
}
@media screen and (max-width: 768px) {
  .blog-header-container {
    border-right: 0;
  }
}
.blog-header-container > * {
  flex-shrink: 0;
  min-height: 100%;
  scroll-snap-align: start;
}
.blog-header-container .blog-article:not(.header-article) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

marquee {
  font-size: 20px;
  background-color: white;
  color: black;
  padding: 6px 0;
  width: calc(100% + 44px);
  margin-left: -20px;
  flex-shrink: 0;
}
marquee span:before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 10px;
  position: relative;
  top: -1px;
  vertical-align: baseline;
  background-color: white;
  margin: 0 16px;
}

.blog-right {
  background-color: black;
  font-size: 2.5vw;
  overflow: auto;
  height: calc(100% + 60px);
}
.blog-right .rounded {
  font-style: italic;
  font-size: 18px;
}
.blog-right .rounded:before {
  content: "";
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background-color: black;
  margin-right: 6px;
}

.blog-right-title {
  font-size: 1.5vw;
  font-family: "HandoTrial-Bold";
  font-weight: bold;
}

.blog-right-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: -1px;
}
@media screen and (max-width: 1400px) {
  .blog-right-title-container {
    margin-top: 1vw;
  }
}
@media screen and (max-width: 1260px) {
  .blog-right-title-container {
    margin-top: 1vw;
  }
}
@media screen and (max-width: 1030px) {
  .blog-right-title-container {
    margin-top: 1vw;
  }
}

.blog-title-date {
  display: flex;
  font-size: 1.5vw;
  align-items: baseline;
  justify-content: space-between;
}

.blog-right-page {
  font-size: 1.3vw;
  margin-bottom: 16px;
  font-family: "HKGrotesk-Bold";
}
.blog-right-page-title {
  font-family: "HandoTrial-Bold";
  font-size: 1.5vw;
  font-weight: 600;
  max-width: 16ch;
  letter-spacing: -1px;
}
.blog-right-page-subtitle {
  max-width: 33ch;
  font-size: 0.9vw;
  margin-top: 12px;
  margin-bottom: 17px;
  line-height: 1.4;
}
.blog-right-page-subtitlep {
  max-width: 33ch;
  font-size: 0.9vw;
  margin-top: 12px;
  margin-bottom: 17px;
  line-height: 1.4;
  font-family: "HKGrotesk-Bold";
}

.objectmain {
  mix-blend-mode: exclusion;
  height: 2000vw;
  width: 100%;
  align-items: center;
  display: block;
}

.object {
  mix-blend-mode: exclusion;
  display: block;
}

.blog-right-container + .blog-right-container {
  margin-top: 40px;
}

.right-blog {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .right-blog {
    display: none;
  }
}
@media screen and (max-width: 1030px) {
  .right-blog .blog-menu {
    display: none;
  }
}

::-webkit-scrollbar {
  display: none;
}

.circle {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}
.circle-title {
  font-weight: 600;
  margin-bottom: 12px;
  font-family: "HandoTrial-Bold";
}
@media screen and (max-width: 1030px) {
  .circle-title {
    display: none;
  }
}
.circle-subtitle {
  max-width: 30ch;
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 16px;
}
.circle-footer {
  font-family: "HandoTrial-Black";
  font-size: 30px;
}

@media screen and (max-width: 560px) {
  .blog-is-sticky {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */